center {
  padding-top: 30px;
}

img {
  width: 20%;
  padding-bottom: 20px;
}

.content {
  position:relative;
  height: 600px;
}

.content::after {
  content: "";
  background: url(https://media1.tenor.com/images/2f0b1575d1c5560060873c5fbedd5579/tenor.gif)
  no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

button {
  color:black;
  margin: 20px;
  padding: 10px 20px;
  background: rgb(85,26,139);
  border-radius: 8px;
  font-size: larger;
  border: none;
  box-shadow: 8px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* darth red rgb(193,61,61) */
.red {
  background: rgb(193,61,61);
}
/* luke blue rgb(30,144,255) */
.blue {
  background: rgb(30,144,255);
}
/* yoda green rgb(47,249,35) */
.green {
  background: rgb(47,249,35);
}
/* windu purple rgb(85,26,139) */
.purple {
  background: rgb(85,26,139);
}